.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.single.form{
  margin: 1rem 0;
}

.textarea {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eee;
  transition: 0.2s;
}
.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: var(--yellow);
  background: var(--white);
  box-shadow: 0 0 0 3px #fea;
}

.button {
  border: none;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.button:focus,
.button:hover {
  outline: none;
}
.button:focus svg path,
.button:hover svg path {
  fill: #fea;
  stroke: var(--yellow);
}

.button:focus svg g,
.button:hover svg g {
  animation: latida 0.6s infinite;
}

@keyframes latida {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
